body {
  margin: 0px; }

input[type=button] {
  outline: none; }

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #404040, #1f1f1f); }

.header {
  width: 100%;
  float: left; }
  .header .calHeaderText {
    padding: 20px 10px 20px 10px;
    text-align: center;
    color: #fff;
    font-size: 22px; }
  .header .circleClose {
    position: absolute;
    left: 2%;
    top: 5vw;
    width: 5vw;
    height: 5vw;
    background: red;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }
    .header .circleClose .circleText {
      color: red;
      text-align: center;
      padding: 15%;
      cursor: pointer; }
      .header .circleClose .circleText:hover {
        color: #fff; }
  .header .circleMin {
    position: absolute;
    left: 8%;
    top: 5vw;
    width: 5vw;
    height: 5vw;
    background: orange;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }
    .header .circleMin .circleText {
      color: orange;
      text-align: center;
      padding: 15%;
      cursor: pointer; }
      .header .circleMin .circleText:hover {
        color: #fff; }
  .header .circlePlus {
    position: absolute;
    left: 14%;
    top: 5vw;
    width: 5vw;
    height: 5vw;
    background: green;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }
    .header .circlePlus .circleText {
      color: green;
      text-align: center;
      padding: 15%;
      cursor: pointer; }
      .header .circlePlus .circleText:hover {
        color: #fff; }

.main {
  width: 100%;
  float: left; }
  .main .calMain {
    background: linear-gradient(to top, #3b3b3b, #313131);
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 0px 2% 0px 2%;
    border-top: 3px solid #101010;
    border-left: 3px solid #101010;
    border-right: 3px solid #101010;
    border-bottom: 2px solid #101010;
    box-shadow: 0px 0px 10px 0px #101010 inset;
    -moz-box-shadow: 0px 0px 10px 0px #101010 inset;
    -o-box-shadow: 0px 0px 10px 0px #101010 inset;
    -webkit-box-shadow: 0px 0px 10px 0px #101010 inset; }
  .main .calMainText {
    margin: 20px 0px 20px 0px;
    font-size: 13vw;
    height: 16vw;
    color: #fff;
    font-weight: 100;
    text-align: right;
    padding: 0px 20px 0px 10px;
    background-color: transparent;
    width: 100%;
    border: 0px solid; }

.footer {
  width: 100%;
  float: left; }
  .footer .cal {
    width: 100%;
    margin-top: 8px;
    border-spacing: 2.2vw 2vh; }
    .footer .cal td {
      width: 25%; }
  .footer .buttondiv {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-left: 2%;
    margin-right: 1%;
    border: 1.3px solid #101010;
    background-color: #323334;
    box-shadow: 0px 0px 2px 0px #101010;
    -webkit-box-shadow: 0px 0px 2px 0px #101010;
    -o-box-shadow: 0px 0px 2px 0px #101010;
    -moz-box-shadow: 0px 0px 2px 0px #101010; }
    .footer .buttondiv:active {
      box-shadow: 0px 0px 10px 0px #101010 inset;
      -moz-box-shadow: 0px 0px 10px 0px #101010 inset;
      -o-box-shadow: 0px 0px 10px 0px #101010 inset;
      -webkit-box-shadow: 0px 0px 10px 0px #101010 inset; }
    .footer .buttondiv .buttonText {
      width: 100%;
      color: #fff;
      font-size: 8vw;
      padding: 20%;
      text-align: center;
      font-weight: 100;
      border: 0px solid;
      background-color: transparent; }
    .footer .buttondiv .buttonTextZero {
      width: 100%;
      color: #fff;
      font-size: 8vw;
      padding: 0%;
      text-align: center;
      font-weight: 100;
      border: 0px solid;
      background-color: transparent; }
    .footer .buttondiv .buttonTextSum {
      width: 100%;
      color: #fff;
      font-size: 8vw;
      padding: 0%;
      padding-top: 17%;
      text-align: center;
      font-weight: 100;
      border: 0px solid;
      background-color: transparent; }

.miniButton {
  display: none;
  position: relative;
  width: 100%;
  z-index: 1001; }
  .miniButton .minuButtonlocation {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    position: absolute;
    top: -65px;
    left: 0px;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #323334;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px #101010;
    -webkit-box-shadow: 0px 0px 2px 0px #101010;
    -o-box-shadow: 0px 0px 2px 0px #101010;
    -moz-box-shadow: 0px 0px 2px 0px #101010; }
    .miniButton .minuButtonlocation:active {
      box-shadow: 0px 0px 10px 0px #101010 inset;
      -moz-box-shadow: 0px 0px 10px 0px #101010 inset;
      -o-box-shadow: 0px 0px 10px 0px #101010 inset;
      -webkit-box-shadow: 0px 0px 10px 0px #101010 inset; }
    .miniButton .minuButtonlocation .minuButtonText {
      color: #fff;
      font-size: 17px;
      padding: 10px 20px 10px 20px; }

@keyframes scaleAni {
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1); }
  to {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform-origin: 10% 95%;
    -webkit-transform-origin: 10% 95%;
    -o-transform-origin: 10% 95%;
    -moz-transform-origin: 10% 95%; } }
@keyframes scaleAniBack {
  from {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform-origin: 10% 95%;
    -webkit-transform-origin: 10% 95%;
    -o-transform-origin: 10% 95%;
    -moz-transform-origin: 10% 95%; }
  to {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1); } }
@keyframes opactityAni {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes opactityAniBack {
  0% {
    display: block;
    opacity: 1; }
  50% {
    display: block;
    opacity: 1; }
  100% {
    display: none;
    opacity: 0; } }
@media screen and (min-width: 1025px) {
  .header .circleClose {
    position: absolute;
    left: 2%;
    top: 25px;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }
  .header .circleMin {
    position: absolute;
    left: 8%;
    top: 25px;
    width: 25px;
    height: 25px;
    background: orange;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }
  .header .circlePlus {
    position: absolute;
    left: 14%;
    top: 25px;
    width: 25px;
    height: 25px;
    background: green;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }

  .main .calMainText {
    font-size: 65px;
    height: 80px; }

  .tablediv {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 50px; }
    .tablediv .middlediv {
      width: 600px;
      display: table-cell;
      vertical-align: middle; }

  .container {
    height: 830px; }

  .footer .buttondiv .buttonText, .footer .buttondiv .buttonTextSum {
    font-size: 45px; }
  .footer .buttondiv .buttonTextZero {
    font-size: 45px; } }

/*# sourceMappingURL=style.css.map */
